Repository theluke-dot-dev/vistral: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports, hadolint

markdownlint:
  run: npx markdownlint-cli2-fix {staged_files} && git add {staged_files}

pyproject:
  run: poetry run toml-sort --all --in-place pyproject.toml && poetry lock --no-update && git add {pyproject.toml,poetry.lock}

pyupgrade:
  run: poetry run pyupgrade --py39-plus {staged_files}

black:
  run: poetry run black {staged_files} && git add {staged_files}

isort:
  run: poetry run isort {staged_files} && git add {staged_files}

mypy:
  run: poetry run mypy --config-file pyproject.toml src/

pytest:
  run: poetry run pytest

lint-imports:
  run: poetry run lint-imports --config ./pyproject.toml

hadolint:
  run: docker run --rm -i hadolint/hadolint < Dockerfile

chore: add fix option to ruff
  lefthook.yml
Due: none

chore(command-bus,tests): minor changes in typing
  src/vistral/command_bus/__init__.py
  src/vistral/command_bus/command.py
  src/vistral/contrib/lagom.py
Due: pyupgrade, black, isort, mypy, pytest, lint-imports

chore(command-bus,tests): move `DefaultResolver` to conftest
  src/vistral/command_bus/__init__.py
  src/vistral/command_bus/resolver.py
  src/vistral/command_bus/tests/conftest.py
  src/vistral/command_bus/tests/test_bus.py
  src/vistral/command_bus/tests/test_resolver.py
Due: pyupgrade, black, isort, mypy, pytest, lint-imports

fix(setup): add py.typed
  src/vistral/py.typed
Due: none

chore: bump version 0.2.0 → 0.2.1
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

chore(deps): add yamllint
  poetry.lock
  pyproject.toml
Due: pyproject

chore(tools): add taskfile, adjust git hooks
  .github/workflows/ci.yml
  .gitignore
  lefthook.yml
  scripts/ensure_tools
  taskfile.yml
Due: none

Path conditions:
  markdownlint: any of: *.md
  pyproject: any of: pyproject.toml
  pyupgrade: any of: *.py
  black: any of: *.py
  isort: any of: *.py
  mypy: any of: *.py
  pytest: any of: *.py
  lint-imports: any of: *.py
  hadolint: any of: Dockerfile
