Repository theluke-dot-dev/vistral: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports, hadolint

lefthook.yml:

source_dir: "scripts"

commit-msg:
  commands:
    lint-commit:
      run: poetry run cz check --commit-msg-file {1}
pre-commit:
  parallel: true
  scripts:
    ensure_tools:
      runner: python
  commands:
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2-fix {staged_files} && git add {staged_files}
    pyproject:
      glob: "pyproject.toml"
      run: poetry run toml-sort --all --in-place pyproject.toml && poetry lock --no-update && git add {pyproject.toml,poetry.lock}
    pyupgrade:
      glob: "*.py"
      run: poetry run pyupgrade --py39-plus {staged_files}
    black:
      glob: "*.py"
      run: poetry run black {staged_files} && git add {staged_files}
    isort:
      glob: "*.py"
      run: poetry run isort {staged_files} && git add {staged_files}
    mypy:
      glob: "*.py"
      run: poetry run mypy --config-file pyproject.toml src/
    pytest:
      glob: "*.py"
      run: poetry run pytest
    lint-imports:
      glob: "*.py"
      run: poetry run lint-imports --config ./pyproject.toml
    hadolint:
      glob: "Dockerfile"
      run: docker run --rm -i hadolint/hadolint < Dockerfile

chore(ci): add github workflow for testing
  .github/workflows/pull_request.yml
  lefthook.yml
  poetry.lock
  pyproject.toml
  src/vistral/contrib/lagom.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

chore(ci): add github workflow for publishing
  .github/workflows/_publish.yml
  pyproject.toml
Due: pyproject

chore: bump poetry dependencies
  poetry.lock
  pyproject.toml
Due: pyproject

chore(mypy): drop custom plugin
  pyproject.toml
  src/vistral/contrib/mypy.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

feat(core): simplify command types
  src/vistral/command_bus/__init__.py
  src/vistral/command_bus/command.py
  src/vistral/command_bus/exceptions.py
  src/vistral/command_bus/resolver.py
  src/vistral/command_bus/tests/__init__.py
  src/vistral/command_bus/tests/conftest.py
  src/vistral/command_bus/tests/test_bus.py
  src/vistral/command_bus/tests/test_resolver.py
  src/vistral/commandbus/resolver.py
  src/vistral/commandbus/tests/__init__.py
  src/vistral/commandbus/tests/conftest.py
  src/vistral/contrib/lagom.py
  src/vistral/contrib/tests/test_lagom.py
Due: pyupgrade, black, isort, mypy, pytest, lint-imports

chore(ci): add github workflow for publishing
  .github/workflows/publish.yml
  pyproject.toml
Due: pyproject

bump: version 0.1.0a0 → 0.1.0
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

chore(ci): add github workflow for publishing
  .github/workflows/publish.yml
  .github/workflows/release.yml
  pyproject.toml
Due: pyproject

chore: remove dependency on npx
  lefthook.yml
  scripts/pre-commit/ensure_tools
Due: none

chore(ci): enable publishing to PyPI
  .github/workflows/publish.yml
Due: none

bump: version 0.1.0a0 → 0.1.1
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

fix(ci): properly handle publishing to PyPI on release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

chore: bump version 0.1.1 → 0.1.2
  .github/workflows/publish.yml
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

chore(ci): fix publishing the release
  .github/workflows/publish.yml
Due: none

chore: bump version 0.1.2 → 0.1.3
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

fix(ci): publishing on prod PyPI
  .github/workflows/publish.yml
Due: none

chore: bump version 0.1.3 → 0.1.4
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

chore(ci): bump poetry in CI linting stage
  .github/workflows/pull_request.yml
Due: none

feat(command-bus): extract core exceptions
  src/vistral/command_bus/__init__.py
  src/vistral/command_bus/exceptions.py
  src/vistral/command_bus/resolver.py
  src/vistral/command_bus/tests/test_bus.py
  src/vistral/contrib/lagom.py
  src/vistral/core/__init__.py
  src/vistral/core/exceptions.py
Due: pyupgrade, black, isort, mypy, pytest, lint-imports

chore: bump version 0.1.4 → 0.2.0
  pyproject.toml
  src/vistral/__version__.py
Due: pyproject, pyupgrade, black, isort, mypy, pytest, lint-imports

fix(setup): add py.typed
  src/vistral/py.typed
Due: none
